beautifulsoup4==4.6.0
Flask==0.12.2
get==0.0.39
gunicorn==19.7.1
html5lib==0.9999999
lxml==4.2.1
post==0.0.26
pylint-flask==0.5
pylint-plugin-utils==0.2.6
query-string==0.0.28
request==0.0.26
requests==2.18.4
requirements-detector==0.5.2
sorl-thumbnail==12.4.1
urllib3==1.22
Flask_Cors==3.0.3